# === DATABASE INFRASTRUCTURE ===
DB_DATABASE=your_database
DB_PASSWORD=your_password

# === APPLICATION DOMAIN CONFIG ===
# Development Default:
APP_DOMAIN=
APP_API_SUBDOMAIN=
APP_PROTOCOL=

# Production Example (Ubah ke ini saat di VPS):
# APP_DOMAIN=
# APP_API_SUBDOMAIN=
# APP_PROTOCOL=

# === DOCKER PORTS ===
HOST_BACKEND_PORT=your_port
HOST_FRONTEND_PORT=your_port

# === NGROK CONFIG ===
# Dapatkan token Anda di https://dashboard.ngrok.com/get-started/your-authtoken
NGROK_AUTHTOKEN= your_ngrok_token