# === DATABASE INFRASTRUCTURE ===
DB_DATABASE=your_database
DB_PASSWORD=your_password

# === DOCKER PORTS ===
HOST_BACKEND_PORT=your_port
HOST_FRONTEND_PORT=your_port

# === NGROK CONFIG ===
# Dapatkan token Anda di https://dashboard.ngrok.com/get-started/your-authtoken
NGROK_AUTHTOKEN= your_ngrok_token