# Env
.env
.env.*
!.env.example
!.env.test
/DESAIN.MD

# OS files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Dependencies and Build outputs
node_modules/
.svelte-kit/
build/
dist/
.output/

# Backend Binaries & Temp files
/backend_go/server
/backend_go/backend_go
/backend_go/tmp/
/backend_go/bin/
*.exe
*.test
*.out
*.prof
