# Dipanggil oleh Browser (Host IP/Domain)
PUBLIC_API_URL=

# Dipanggil oleh SvelteKit Server (Internal Docker Network)
INTERNAL_API_URL=

# Digunakan untuk menampilkan Snap Popup di browser
PUBLIC_MIDTRANS_CLIENT_KEY=